.brickhouse{
  background-image: url("gvzQpyg.jpg");
  background-color: red ;
}
.waves{
  color: aquamarine;
  font-style: italic;
}
.glossy{
  position:relative;
  left: 30px;
  border: 3px solid yellow;
}
.dank{
  height: 700px;
  width: 600px;
  position: relative;
  bottom: 1700px;
  right: -506px;
}
.txt {
  text-align: center;

  font-family: 'Bungee Hairline';
  font-size: 50px;
  color: white;
  position: relative;
  bottom: 700px;
  font-weight: 1000;

}
.button{
  background-color: none;
  font-family:'Bungee Hairline';
  border: 15px solid white;
  color: white;
  font-size: 30px;
  padding: 50px 500px;
  background-position: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}
.vaper{
  height: 400px;
  width: 350px;
  bottom: 600px;
}
.healthy{
  position: relative;
  bottom: 600px;
}
